body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(black 10%,green 90%);;
}
.mw {
  position: relative;
  width: 750px;
  height: 520px;
  overflow: hidden;
  transform: scale(.8);
}

.mw:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -100px;
  width: 100%;
  height: 120px;
  /*background: #000;*/
  z-index: 2;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  transform: scaleX(1.5);
  
}

.mw:after, h3:before
{ 
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 400%;
  height: 100%;
  background: linear-gradient(to right, transparent, #000, #000);
  z-index: 3;
  animation: animate 2s linear forwards;
}

@keyframes animate
{
  0%
  {
    right: 0;
  }
    100%
  {
    right: -400%;
  }
}
.mw span {
  position: absolute;
  top: 0;
  width: 120px;
  height: 100%;
  background: green;
}

.mw span:nth-child(1)
{
  background: green;
  left: 50px;
  box-shadow: 0 0 40px rgba(0,0,0,1);

}
.mw span:nth-child(2)
{
  background: green;
  left: 171px;
  z-index: 1;
  transform-origin: top-left;
  transform: skewX(24deg);
  box-shadow: 0 0 40px rgba(0,0,0,1);
}

.mw span:nth-child(3)
{
  background: green;
  left:400px;
  z-index: 1;
  transform-origin: top-left;
  transform: skewX(155deg);
  box-shadow: 0 0 40px rgba(0,0,0,1);
}

.mw span:nth-child(4)
{
  background: green;
  left: 525px;
  z-index: 1;
  box-shadow: 0 0 40px rgba(0,0,0,1);;
}
h3 {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: arial;
  color: #fff;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 10px;
  overflow: hidden;
}